body {
    margin:0;
    padding:0;
}

.header {

}

.logo-right {

}
.nav {

}
.nav a {
    
}

#map {
    position:absolute;
    top:50px;
    bottom:0px;
    width:100%;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, san-serif;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 16px rgba(0,0,0,0.2);
    border-radius: 4px;
}
.info h3 {
    margin: 0 0 0;
    color: #000;
}
.info h4 {
    margin: 0 0 4px;
    color: #000;
}
.legend {
    text-align: left;
    line-height: 14px;
    color: #555;
    opacity: 0.9;
}
.legend i {
    width: 14px;
    height: 14px;
    float: left;
    margin-right: 6px;
    opacity: 1;
}
