/* 
 * Default styles 
 * Edit this file to change styling
 */
/* css transitions */
#ra-container {
  transition: transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
}
.ra-large #ra-main {
  transition: left 0.25s, max-width 0.25s;
  -webkit-transition: left 0.25s, max-width 0.25s;
}
#ra-nav {
  transition: max-height 0.25s;
  -webkit-transition: max-height 0.25s;
}
/* your styles here */
/* #ra-container has .ra-small .ra-large or .ra-fullscreen classes
 * depending on app state
 * this can be very useful for styling
 */
html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
}
h1 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 0;
}
h2 {
  font-size: 1.2em;
  line-height: 1.2em;
}
h3 {
  font-size: 1em;
  line-height: 1em;
}
hr {
  border: none;
  margin: 1em 0;
  height: 1px;
  background: #999;
}
.header {
  position: relative;
  padding: 0 0.5em;
}
.header-right {
  float: right;
  color: #fff;
  padding-right: .5em;
}
.logo-right {  
  float: right;
}
.logo-right-wri4c {
  width: 151px;
  height: 53px;
  background: url("../img/wri_stacked_4c.png") no-repeat center;
  background: -webkit-image-set(url("../img/wri_stacked_4c.png") 1x, url("../img/wri_stacked_4c@2x.png") 2x);
  padding: .75em;
}
.logo-right-aq {
  width: 200px;
  height: 26px;
  background: url("../img/aqueduct_logo_4c.png") no-repeat center;
  background: -webkit-image-set(url("../img/aqueduct_logo_4c.png") 1x, url("../img/aqueduct_logo_4c@2x.png") 2x);
  padding-top: 6px;
}
.logo-wrihoriz {
  width: 250px;
  height: 21px;
  background: url("../img/wri_logo_horiz_4c.png") no-repeat center;
  background: -webkit-image-set(url("../img/wri_logo_horiz_4c.png") 1x, url("../img/wri_logo_horiz_4c@2x.png") 2x);
}
#ra-nav {
  background: #000;
  color: #fff;
  font-weight: bold;
}
#ra-nav a:active,
#ra-nav a:link,
#ra-nav a:visited {
  color: #fff;
  text-decoration: none;
}
#ra-nav a:hover {
  color: #f0ab00;
  text-decoration: none;
}

.ra-large #ra-nav-container {
  text-align: right;
}
.ra-large .nav-left {
  padding: 0.25em 1em;
  display: inline-block;
}
.ra-small #ra-nav {
  -moz-box-shadow: inset 0px 3px 2px -2px rgba(255,255,255,0.2);
  box-shadow: inset 0px 3px 2px -2px rgba(255,255,255,0.2);
}
.ra-small .nav-left {
  width: auto;
  padding: 0.25em 1em;
}
#ra-responsivemenu {
  background: #000;
}
#ra-responsivemenu-btn-l {
  border-right: rgba(0,0,0,0.3) 1px solid;
}
#ra-panel-content {
  padding: .5em;
}

#map {
  width: 100%;
  height: 100%;
  background: #666;
}
.info {
  padding: 6px 8px;
  font: 12px/14px Arial, Helvetica, sans-serif;
  background: white; /*ie8*/
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  border-radius: 4px;
}
.info h3 {
  margin: 0 0 0;
  color: #000;
}
.info h4 {
  margin: 0 0 4px;
  color: #000;
}
.legend {
  text-align: left;
  line-height: 14px;
  color: #555;
  opacity: 0.9;
}
.legend i {
  width: 14px;
  height: 14px;
  float: left;
  margin-right: 6px;
  opacity: 1;
}

em {
    font-size: 1.6em;
    font-style: normal;
}
a {
    text-decoration: none;
    color: #f0ab00;
}
#ra-panel-content {
    line-height: 1.5em;
}
ul {
    padding-left: 2em;
    padding-right: 0.5em;
}
li {
    list-style-type: square;
    padding-bottom: 0.5em;
}

#panelAbout,
#panelReport,
#panelRankings,
#panelData,
#panelContact{
    display: none;
}

.panelContact #panelContact,
.panelAbout #panelAbout,
.panelRankings #panelRankings,
.panelReport #panelReport,
.panelData #panelData {
    display: block;
}

#btnPanelClose {
    float: right;
    font-family: Arial;
    font-size: 18px;
    cursor: pointer;
}
#btnPanelClose::before {
    content: '×';
    padding: .25em;
}

.rankingAttributes {
    font-size: 0.9em;
    color: white;
    font-weight: bold;
    background: #231F20;
}

.rankingData {
    font-size: 0.8em;
    color: black;
}
.rankingLRisk {
    background-color: rgb(255,255,153)
}
.rankingLMRisk {
    background-color: rgb(255,230,0)
}
.rankingMHRisk {
    background-color: rgb(255,153,0)
}
.rankingHRisk {
    background-color: rgb(255,25,0)
}
.rankingEHRisk {
    color: white;
    background-color: rgb(204,0,20)
}
.rankingALRisk {
    background-color: rgb(204,204,204)
}